* {
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.images {
    border: 1px dashed red;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail {
    margin: 20px;
}

.modal-container {
    border: 1px dashed green;
    width: 550px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 1s, visibility 1s;
}

.modal-image {
    width: 100%;
}

.close {
    font-size: 2rem;
    position: absolute;
    left: 512px;
    top: 12px;
    cursor: pointer;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}
